
<form [formGroup]="registerForm" >
    <h4 style="margin-top: 2em;">{{ signupTitle }}</h4>
    <div class="form-group">
        <label for="username" style="margin-top: 2em;">Username</label>
        <input class="form-control" type="username" id="username" placeholder="Enter username here..." formControlName="username">
    </div>

    <div *ngIf="username.invalid && (username.dirty || username.touched)">
        <div style='color:#0d45c7' *ngIf="username.errors.required">
            Username is required
        </div>

        <div style='color:#c70d0d' *ngIf="username.errors.minlength">
            Username must be at least 8 characters long
        </div>

        <div style='color:#c70d0d' *ngIf="username.errors.maxlength">
            Username must be max 20 characters long
        </div>
    </div>

    <div class="form-group">
        <label for="password" style="margin-top: 2em;">Password</label>
        <input class="form-control" type="password" id="password" name="password" placeholder="Enter password here..." formControlName="password">
<!--         <small id="passwordHelpInline" class="text-muted">
            Must be minimum 9 characters long.
        </small> -->
    </div>

    <div style='color:#0d45c7' *ngIf="password.invalid && (password.dirty || password.touched)">
        <div *ngIf="password.errors.required">
            Password is required
        </div>

        <div style='color:#c70d0d' *ngIf="password.errors.minlength">
            Password must be at least 9 characters long
        </div>

        <div style='color:#c70d0d' *ngIf="password.errors.pattern">
            Password must contain both uppercase and lower case letters as well as special characters
        </div>

        <div style='color:#c70d0d' *ngIf="password.errors.maxlength">
            Password must be max 20 characters long
        </div>
    </div>

    
    <span><div class="progress" style="margin-top: 1.5em;">
        <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
      </div><h6>password strength</h6></span>

    <div class="form-group">
        <label for="confirmPassword" style="margin-top: 1em;">Confirm Password</label>
        <input class="form-control" type="password" id="confirmPassword" name="confirmPassword" placeholder="Please confirm password...." formControlName="confirmPassword">
    </div>

    <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">
        <div style='color:#0d45c7' *ngIf="confirmPassword.errors.required">
            Please confirm password
        </div>

    </div>

    <div style='color:#c70d0d' *ngIf="(confirmPassword.errors || registerForm.errors?.mismatch) && confirmPassword.dirty">
        Passwords don't match
    </div>

    <button class="btn btn-primary"  (click)="SignupClick()" style="margin-top: 3em;">Signup</button>
</form>

<div style="margin-top: 3em;"><a routerLink="/login" > Already registered? Sign in to continue😎</a></div>

