<h2 style="margin-top: 2em;">{{ dashboardTitle }}</h2>
<h4 style="margin-top: 2em;">Welcome back {{username}}</h4>

<div *ngIf="isLoggedIn">
    <button class="btn btn-danger" (click)="logoutClick()" style="margin-top: 4em;">Logout</button>
</div>